
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #ffffff;
}


header {
  background: url('img/1.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}

nav {
    background-color: #2a2a2a; /* 设置导航栏的背景颜色 */
    padding: 10px 0; /* 上下填充 */
    text-align: center; /* 使内容居中 */
}

nav ul {
    list-style: none; /* 移除默认的列表样式 */
    padding: 0; /* 移除默认的填充 */
    margin: 0; /* 移除默认的外边距 */
}

nav li {
    display: inline-block; /* 使列表项在同一行显示 */
    margin: 0 20px; /* 左右的外边距 */
}

nav a {
    text-decoration: none; /* 移除默认的下划线 */
    color: #fff; /* 文字颜色为白色 */
    padding: 5px 10px; /* 文字周围的填充 */
    transition: border-bottom 0.3s ease; /* 添加过渡效果 */
}

nav a:hover {
    border-bottom: 3px solid #fff /* 鼠标悬停时的底部边框 */
}
/* Hero image styles */
.hero-image {
  position: relative;
  background: url('img/1.jpg');
  padding: 10px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  z-index: 999;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
body {
    background-image: url('img/3.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* 其他样式保持不变... */
}

/* Main content styles */
main {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  background: #00000080;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease-out;  /* 添加过渡效果 */
   transform: translateY(50px); /* 设置初始状态，稍微在Y轴上下移，可以调整为其他值 */
   transition: transform 0.5s, opacity 3s; /* 这里添加过渡效果 */
}

article {
  margin-bottom: 40px;
}

article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

article p {
  font-size: 16px;
  line-height: 1.6;
}
article a {
    text-decoration: none; /* 移除默认的下划线 */
    color: #ffffff; /* 文字颜色为白色 */
    padding: 5px 10px; /* 文字周围的填充 */
    transition: border-bottom 0.3s ease; /* 添加过渡效果 */
}

article a:hover {
    border-bottom: 3px solid #333; /* 鼠标悬停时的底部边框 */
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }
  
  .hero-image {
    padding: 50px 0;
  }
  
  article h2 {
    font-size: 20px;
  }
}
#loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}
*{
  padding: 0;
  margin: 0;
}
#rainBox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.rain{
  position: absolute;
  width: 2px;
  height: 50px;
  background: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.6));
}
.container {
  text-align: center; /* 可选：让内容居中 */
}

.container-left{
  display: inline-block;
  flex-direction: column;
  align-items: center; /* 让子元素在垂直方向上居中 */
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}
.container-right {
  display: inline-block;
  vertical-align: top; /* 防止元素底部对齐 */
  box-sizing: border-box; /* 让内边距和边框包含在元素总宽度内 */
}
.avatar-container {
  width: 100px; /* 根据需要调整头像大小 */
  height: 100px;
  border-radius: 50%; /* 圆形头像 */
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: auto; /* 自动缩放以适应容器尺寸 */
}
.introduction {
  text-align: left;
}
